<app-admin-navbar></app-admin-navbar>
<div class="row">
  <div class="col-md-3">
    <app-admin></app-admin>
  </div>
  <div class="col-md-8">
    <section class="card">
      <h2>OverView</h2>
      <table>
        <tr>
          <th>Organization Name</th>
          <th>Posts</th>
          <th>Bid Intial</th>
          <th>Bid Posted Date</th>
        </tr>
        <tr>
          <td>Supplier</td>
          <td>4</td>
          <td>7</td>
          <td>Oct 10, 2015</td>

        </tr>
        <tr>
          <td>Public</td>
          <td>5769</td>
          <td>2517</td>
          <td>Jan 1, 2014</td>
        </tr>
      </table>
    </section>
  </div>
</div>
