<app-navbar></app-navbar>
<div class='header'>
  <div class='header-wrapper'>
    <div class='info'>
      <div class='details'>
        <div class='content-wrapper'>
          <article>
            <h2>
              Edit your Profile
              <span></span>
            </h2>
            <!-- Custom Success/Erro Message -->
            <div class="row show-hide-message" *ngIf="message">
              <div [ngClass]="messageClass">
                {{ message }}
              </div>
            </div>
            <form [formGroup]="editForm" (submit)="UpdateProfile()">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" name="publicBodyName" class="form-control" placeholder="*Name Of Organization"
                    formControlName="publicBodyName" />
                </div>
                <div class="form-group">
                  <input type="text" name="tinNumber" class="form-control" placeholder="*Tin No."
                    formControlName="tinNumber" />
                </div>
                <div class="form-group">
                  <input type="text" name="phoneNumber" class="form-control" placeholder="*Phone Number."
                    formControlName="phoneNumber" />
                </div>
                <div class="form-group">
                  <input type="text" name="email" class="form-control" placeholder="*E-mail" formControlName="email" />
                </div>
                <button class="btn btn-outline-light btn-sm" (click)="UpdateProfile()"><i class="fa fa-save"></i>Update
                  Profile</button>
                <button class="btn btn-outline-light btn-sm" (click)="OnBack()"><i class=" fa
                fa-backward"></i>Back</button>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
