<!-- <app-admin-navbar></app-admin-navbar> -->
<div class="row">
  <div class="col-md-3">
    <nav role="navigation">
      <ul class="main">
        <!-- <li class="dashboard"><a [routerLink]="['/admindashboard']" style="cursor: pointer;">Dashboard</a></li>
        <li class="users"><a [routerLink]="['/manageuser']" style="cursor: pointer;">Users</a></li> -->
        <li><a [routerLink]="['/bid-change-requests']" style="cursor: pointer;">Bid change requests</a>
        </li>
        <li><a [routerLink]="['/bid-applications']" style="cursor: pointer;">Bid applications</a></li>
        <li><a [routerLink]="['/unresolvedBids']" style="cursor: pointer;">Unresolved bids</a></li>
      </ul>
    </nav>
  </div>
</div>
