/* about us section */
.about img {
  width: 100%;
  border-radius: 50%;
}

blockquote .svg-inline--fa {
  color: #1ebba3;
  margin: 1rem;
}

about-hr {
  border-top: .05rem solid #1ebba3;
}

.about {
  margin-bottom: 10;
}
