  <!--- Start About Section -->
  <div id="about" class="offset">
    <!-- Start Jumbotron -->
    <div class="jumbotron">
      <div class="col-12 text-center">
        <h3 class="heading">About</h3>
      </div>
      <!-- start row -->
      <div class="about text-center">
        <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
        <blockquote>
          <i class="fa fa-quote-left"></i>

          <hr class="about-hr">
          <cite> &#8212; Online Bidding System</cite>
        </blockquote>
      </div>
      <!-- end row -->
    </div>
    <!-- End of jumbotron -->
  </div>
  <!--- End About Section -->
